.sign-in-page {
  background: linear-gradient(97deg, $teal-dasty 0%,$teal-dark 43%, $orange 43.05%, $orange 100%);
  .wrapper {
    max-width: 720px;
    width: 100%;
    height: 340px;
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    margin: -170px auto 0 auto;
    .content {
      overflow: hidden;
      padding: 50px 0 0 100px;
      text-align: center;
    }
  }
}
.create-account {
  margin-top: 25px;
  text-align: center;
}
.sign-in-wrapper {
  text-align: center;
  @include inline-block;
  padding-bottom: 15px;
  background-color: $white;
  box-shadow: 0 6px 21px 0 rgba(0,0,0,0.2);
  max-width: 250px;
  color: $gray;
  border-radius: 4px;
  overflow: hidden;
  .sign-in-header {
    padding: 17px;
    box-shadow: 0 0 13px 0 $brown;
    a, a:active, a:visited, a:hover {
      color: $gray;
    }
    h2 {
      color: $orange;
      text-transform: uppercase;
      letter-spacing: 0.9px;
      font-size: inherit;
    }
  }
  .sign-in {
    fieldset {
      border: none;
      padding: 20px 12px;
    }
    &-actions {
      button {
        width: 100%;
      }
    }
  }
}
.sign-in-states-page {
  background-image: radial-gradient(circle at 50% 48%, #3c818c, #1a535c);
  .container {
    text-align: center;
    .content-wrapper {
      position: absolute;
      top: 45%;
      left: 0;
      right: 0;
      transform: translateY(-50%);
    }
  }
}
.informer {
  width: 100px;
  height: 100px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  display: table;
  margin: 0 auto;
  background-color: $white;
  margin-bottom: 30px;
  &-sign {
    display: table-cell;
    vertical-align: middle;
  }
  &-success i{
    color: $orange;
  }
  &-error i{
    color: $red;
  }
}
