@mixin box-shadow($parameters) {
    -webkit-box-shadow: $parameters;
    -moz-box-shadow: $parameters;
    -o-box-shadow: $parameters;
    box-shadow: $parameters;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin transition($parameters) {
    -webkit-transition: $parameters;
    -moz-transition: $parameters;
    -ms-transition: $parameters;
    transition: $parameters;
}

@mixin inline-block {
    display: inline-block;
    vertical-align: middle;
}

//@mixin active {
//    @include box-shadow(inset 0 2px 0 #d6d6d6);
//    background-color: #e5e5e5;
//    border: 1px solid rgba(0, 0, 0, 0.27);
//}
//
//@mixin button {
//    @include box-shadow(0 1px 0 rgba(0, 0, 0, 0.05));
//    @include border-radius(4px);
//    border: 1px solid rgba(0, 0, 0, 0.17);
//    @include transition($all);
//    &:hover {
//        @include box-shadow(0 1px 0 0 rgba(0, 0, 0, 0.27));
//        border: 1px solid rgba(0, 0, 0, 0.27);
//    }
//    &:active {
//        @include active;
//    }
//}
//
//$main: #212121;
//$white: #ffffff;
//$gray: #a1a1a1;
//$lightgray: #e1e1e1;
//$navbar: #9d9d9d;
//$forty: 40px;
//$all: all 0.3s ease;
//$green:#689f38;
//$greenhover: darken($green, 5%);
//$red: #ed5959;
//html,
//body {
//    height: 100%;
//}
//
//.margin30 {
//    margin: $forty - ($forty/4) 0;
//}
//.margin10 {
//    margin: 0 0 $forty/4 0;
//}
//.padding20 {
//    padding: 0 $forty/2;
//}
//.green {
//    color: $green;
//}
//#logo {
//    border-bottom: 1px solid $gray;
//    padding: 15px 0;
//    margin: 0 0 30px 0;
//    i {
//        font-size: 40px;
//        line-height: 40px;
//        color: $greenhover;
//    }
//}
//
//h2 {
//    font-size: 50px;
//    font-weight: normal;
//}
//
//h3 {
//    margin: 0 0 $forty/4 0;
//    a {
//        color: inherit;
//        i {
//            @include inline-block;
//            margin: 0 3px 0 0;
//        }
//    }
//}
//
//.block {
//    @include button;
//    @include inline-block;
//    background: #ffffff;
//    padding: 15px;
//    margin-bottom: $forty/2;
//}
//
//.copyright {
//    background: $main;
//    color: $gray;
//    line-height: 40px;
//}
//
//#page {
//    min-height: 100%;
//    margin-bottom: -$forty;
//    padding-bottom: $forty;
//}
//
//#footer {
//    height: $forty;
//    position: relative;
//    z-index: 10;
//}
//
//#main {
//    padding-bottom: $forty;
//}
//
//.button {
//    i {
//        vertical-align: middle;
//        margin: 0 5px 0 0;
//    }
//    &.button2 {
//        @include button;
//        padding: $forty/8;
//        background: $white;
//        color: $main;
//        height: auto;
//        &.padding20 {
//            padding: $forty/8 $forty/2;
//        }
//        i {
//            margin: 0;
//        }
//    }
//}
//
//#nav {
//    > .button#menubut {
//        position: fixed;
//        right: $forty/2;
//        top: $forty/2;
//        padding: 0;
//        width: $forty;
//        text-align: center;
//        z-index: 10;
//        &:before {
//            content: "menu";
//            line-height: 38px;
//            font-family: 'Material Icons';
//            font-weight: normal;
//            font-style: normal;
//            font-size: 24px;
//            letter-spacing: normal;
//            text-transform: none;
//            display: inline-block;
//            white-space: nowrap;
//            word-wrap: normal;
//            direction: ltr;
//            -webkit-font-feature-settings: 'liga';
//            -webkit-font-smoothing: antialiased;
//        }
//        &.opened {
//            &:before {
//                content: "close";
//            }
//            + nav {
//                right: 0;
//            }
//        }
//    }
//    nav {
//        width: $forty*5;
//        @include transition($all);
//        position: fixed;
//        z-index: 5;
//        border-left: 1px solid $lightgray;
//        right: -100%;
//        top: 0;
//        height: 100%;
//        padding: $forty*2 0;
//        background: $white;
//        ul {
//            li {
//                a {
//                    display: block;
//                    padding: $forty/4 $forty/2;
//                    color: inherit;
//                    &:hover {
//                        color: $white;
//                        background-color: $main;
//                    }
//                }
//                &.active {
//                    a {
//                        color: $white;
//                        background-color: $main;
//                    }
//                }
//            }
//        }
//    }
//}
//
///*section {
//    display: none;
//    &.active {
//        display: block;
//    }
//}*/
//
//fieldset {
//    display: inline-block;
//    width: 100%;
//}
//
//#addform {
//    .required {
//        position: relative;
//        &:after {
//            content: "*";
//            color: #ed5959;
//            position: absolute;
//            right: $forty/4;
//            top: 12px;
//        }
//        input,
//        textarea {
//            padding-right: $forty/2;
//        }
//    }
//    input,
//    textarea,
//    select {
//        display: block;
//        margin: 0 0 $forty/4 0;
//        width: 100%;
//    }
//    input[type="submit"], input[type="file"] {
//        display: inline-block;
//        vertical-align: middle;
//        width: auto;
//    }
//}
//
//.block {
//    @include button;
//    max-width: 100%;
//    /*mozilla fix*/
//    .b-img {
//        position: relative;
//        .remove {
//            opacity: 0;
//            visibility: hidden;
//            @include button;
//            color: inherit;
//            position: absolute;
//            right: 0;
//            top: 0;
//            background-color: $white;
//            line-height: 30px;
//            width: 30px;
//            height: 30px;
//            text-align: center;
//            @include border-radius(50%);
//            &:hover {
//                @include active;
//            }
//            i {
//                line-height: 28px;
//            }
//        }
//    }
//    .b-name {
//        color: $green;
//        font-weight: normal;
//        line-height: $forty/2 + 5;
//        margin: $forty/4 0;
//    }
//    .b-cat {
//        font-size: 15px;
//    }
//    &:hover {
//        .remove {
//            opacity: 1;
//            visibility: visible;
//        }
//    }
//}
//
//canvas {
//    max-width: 100%;
//    display: none;
//}
//
//.loader {
//    position: relative;
//    &:after {
//        content: "";
//        background: rgba(255, 255, 255, 0.5) url(../img/loader.gif) center center no-repeat;
//        position: absolute;
//        z-index: 1;
//        width: 100%;
//        height: 100%;
//        display: block;
//        left: 0;
//        top: 0;
//    }
//}
//
//#contacts {
//    a {
//        i {
//            color: $greenhover;
//        }
//    }
//}
//
//#addform2 {
//    input[type=text] {
//        width: 70%;
//    }
//    input[type=submit] {
//        width: 28%;
//    }
//}
//
//.categories {
//    padding: 15px;
//    h3 {
//        margin: 0;
//    }
//}
//
//.catlist {
//    padding: 0 $forty/2;
//    li {
//        @include transition($all);
//        list-style: square;
//        a {
//            color: inherit;
//        }
//        &:hover {
//            color: $greenhover;
//            a {
//                color: $greenhover;
//            }
//        }
//        &.active a {
//            font-weight: bold;
//        }
//    }
//}
//
//#items,
//.innerpage {
//    position: relative;
//    &:before {
//        content: "";
//        display: block;
//        position: absolute;
//        left: -15px;
//        top: 0;
//        height: 100%;
//        width: 0;
//        border-right: 1px solid $gray;
//        border-left: 1px solid $white;
//    }
//}
//
//#maindesc,
//.paddingright30 {
//    padding-right: 30px;
//}
//
//#mainphoto {
//    .block {
//        float: left;
//        margin-right: $forty/2;
//    }
//    .b-desc {}
//}
//
//
///*popup*/
//video {
//    width: 640px;
//    height: 480px;
//    background: url(../img/loader.gif) center center no-repeat;
//}
//#fader {
//    display: none;
//    position: fixed;
//    top: 0;
//    left: 0;
//    z-index: 10001;
//    background: rgba(0, 0, 0, 0.5);
//    width: 100%;
//    height: 100%;
//    &.active {
//        display: block;
//    }
//    .popup {
//        width: 1024px;
//        height: 600px;
//        margin: -300px 0 0 -512px;
//        position: absolute;
//        left: 50%;
//        top: 50%;
//        padding: 30px 40px;
//        background: $white;
//        @include border-radius(2px);
//    }
//    .popup-content {
//        #videoImage {
//            display: none;
//        }
//    }
//    .popup-close {
//        position: absolute;
//        right: 15px;
//        top: 15px;
//        @include button;
//        color: inherit;
//        background-color: $white;
//        line-height: 30px;
//        width: 30px;
//        height: 30px;
//        text-align: center;
//        @include border-radius(50%);
//        &:hover {
//            @include active;
//        }
//        i {
//            line-height: 28px;
//        }
//    }
//}
