* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: $base-font-size;
  font-family: $base-font-family;
  color: $white;
}

html, body {
  height: 100%;
  overflow: hidden;
}

a, button, .btn, input {
  color: $teal-dark;
  text-decoration: none;
  transition: $transition-all;
}

.page {
  height: 100%;
}

.relative {
  position: relative;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.clearfix, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .row:after, .row:before {
  content: " ";
  display: table;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.btn {
  background-color: $teal-dark;
  border: none;
  display: inline-block;
  outline: none;
  line-height: 40px;
  text-align: center;
  border-radius: 3px;
  color: $white;
  cursor: pointer;
  text-transform: uppercase;
  padding: 0 40px;
  &:hover {
    background-color: darken($teal-dark, 5%);
  }
}

input[type=text], input[type=password] {
  color: #454749;
  outline: none;
  width: 98%;
  height: 30px;
  line-height: 30px;
  padding: 0 11px;
  border-radius: 3px;
  background-color: $gray-lighter;
  border: solid 1px $gray-light;
  margin-bottom: 8px;
  font-family: inherit;
  font-size: inherit;
  &:focus, &:active {
    border: 1px solid $teal-dark;
  }
}

.page {
  background-color: $orange;
  transition: all 0.3s ease;
  &:before {
    display: block;
    transform: skew(-7deg);
    position: absolute;
    top: 0;
    left: -5%;
    width: 48%;
    content: "";
    font-size: 0;
    line-height: 0;
    height: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#467d7d+1,1a535c+100 */
    background: #467d7d; /* Old browsers */
    background: -moz-linear-gradient(left,  #467d7d 1%, #1a535c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #467d7d 1%,#1a535c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #467d7d 1%,#1a535c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#467d7d', endColorstr='#1a535c',GradientType=1 ); /* IE6-9 */
    transition: all 0.6s ease;
  }
  &:after {
    background-image: radial-gradient(circle at 50% 48%, #3c818c, #1a535c);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    content: "";
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s ease;
  }
  &.page--success {
    &:before {
      width: 110%;
    }
    .login {
      visibility: hidden;
      opacity: 0;
    }
  }
  &.page--informer {
    .informer {
      visibility: visible;
      opacity: 1;
    }
    &:after {
      visibility: visible;
      opacity: 1;
    }
  }
}
.wrapper {
  max-width: 720px;
  width: 100%;
  height: 340px;
  position: absolute;
  text-align: center;
  z-index: 2;
  top: 45%;
  left: 0;
  right: 0;
  margin: -170px auto 0 auto;
  &:after {
    @include inline-block;
    content: "";
    width: 0;
    height: 100%;
  }
}
.login {
  transition: all 0.6s ease;
  &-image {
    float: left;
  }
  &-content {
    overflow: hidden;
    padding: 50px 0 0 100px;
    text-align: center;
    &__form-container {
      @include inline-block;
      text-align: center;
      padding-bottom: 15px;
      background-color: $white;
      box-shadow: 0 6px 21px 0 rgba(0,0,0,0.2);
      width: 100%;
      height: 100%;
      color: $gray;
      border-radius: 4px;
    }
    &__footer {
      margin-top: 25px;
      text-align: center;
    }
  }
}

.form {
  &-header {
    padding: 17px;
    display: table;
    width: 100%;
    box-shadow: 0 0 13px 0 $brown;
    a {
      color: $gray;
      &:active, &:visited, &:hover {
        color: $gray;
      }
    }
    h2 {
      color: $orange;
      text-transform: uppercase;
      letter-spacing: 0.9px;
      font-size: inherit;
      font-weight: normal;
    }
  }
  &-fieldset {
    border: none;
    padding: 20px 12px;
  }
  &-actions {
    button {
      width: 100%;
    }
  }
}

.informer {
  @include inline-block;
  opacity: 0;
  visibility: hidden;
  transition: $transition-all;
  &-sign {
    width: 100px;
    height: 100px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    display: inline-block;
    background-color: $white;
    margin-bottom: 30px;
    line-height: 113px;
  }
  &-text {
    margin-bottom: 15px;
    font-size: 12px;
  }
}

.popup {
  position: relative;
  &-content {
    position: absolute;
    right: 0;
    border: 1px solid $gray;
    width: 100px;
    text-align: left;
    top: 20px;
    padding: 5px;
    background-color: #fff;
    border-radius: 3px;
    visibility: hidden;
    opacity: 0;
    transition: $transition-all;
    &:before {
      content: "";
      width: 6px;
      height: 6px;
      display: block;
      position: absolute;
      right: 24px;
      top: -4px;
      border-top: 1px solid $gray;
      border-right: 1px solid $gray;
      transform: rotate(-45deg);
      background-color: $white;
    }
    code {
      span {
        float: right;
        color: $teal-dark;
      }
    }
  }
  &:hover {
    .popup-content {
      opacity: 1;
      visibility: visible;
    }
  }
}

.card {
  transition: transform 1s;
  transform-style: preserve-3d;
  width: 250px;
  height: 218px;
  margin: 0 auto;
  &.flipped {
    transform: rotateY( 180deg );
  }
  & > figure {
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    &.back {
      z-index: 1000;
      -webkit-transform: rotateY( 180deg );
      -moz-transform: rotateY( 180deg );
      -o-transform: rotateY( 180deg );
      transform: rotateY( 180deg );
    }
  }
}

.newmember {
  position: relative;
  &-form {
    transition: $transition-all;
  }
  .informer-sign {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -50px 0 0 -50px;
    background-image: radial-gradient(circle at 50% 48%,#3c818c,#1a535c);
    opacity: 0;
    visibility: hidden;
  }
  &.newmember-added {
    .newmember-form {
      opacity: 0;
      visibility: hidden;
    }
    .informer-sign {
      opacity: 1;
      visibility: visible;
    }
  }
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
}

@-webkit-keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}